<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/injera">Injera</a></li>
                <li class="nav-item"><a class="nav-link" href="/gulab">Golab Jamun</a></li>
                <li class="nav-item"><a class="nav-link" href="/jerk">Jerk Chicken </a></li>
                <li class="nav-item"><a class="nav-link" href="/pumpkin">Pumpkin Rice Noodles</a></li>
                <li class="nav-item"><a class="nav-link" href="/bara">Bara </a></li>
                <li class="nav-item"><a class="nav-link" href="/croque">Croque Madame </a></li>
                <li class="nav-item"><a class="nav-link" href="/crab">Crab Cake </a></li>
            </ul>

        </div>
    </nav>
</div>
<h1>Menu</h1>
<div class="mycont">
<div class="gal">
<div class="container-fluid">
    <div class="row">

            <div class="col-5"><a href="/injera"><img src="./images/injera.jpg" alt="ethiopia"/><br/>Ethiopian faviourite food(Injera) <br/>price :10</a> </div>
        <div class="col-5"><div class="gulabi"><a href="/gulab"><img src="./images/gulabjamun.jpg" alt="Indian"/><br/>Indian faviourite food(Golba), <br/>price :10</a></div></div>

    </div>
    <div class="row">
        <div class="col-5"><a href="/jerk"><img src="./images/JerkChicken.jpg" alt="Jamaican"/><br/>Jamaican faviourite food(Jerk ) <br/>price :10</a></div>
        <div class="col-5"><div class="gulabi"><a href="/pumpkin"><img src="./images/PumpkinRiceNoodle.JPG" alt="Tai"/> <br/>Taiwan faviourite food(Pumpkin) <br/>price :10</a></div></div>

    </div>
    <div class="row">
        <div class="col-5"><a href="/bara"><img src="images/Bara.jpg" alt="Nepal"/> <br/>Nepal faviourite food(Bara) <br/>price :10</a></div>
        <div class="col-5"><div class="gulabi"><a href="/croque"><img src="images/croque-madame.jpeg" alt="France"/><br/>France faviourite food(Croque) <br/>price :10</a></div></div>

    </div>

</div>
</div></div>
</body>
</html>