<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/injera">Injera</a></li>
                <li class="nav-item"><a class="nav-link" href="/gulab">Golab Jamun</a></li>
                <li class="nav-item"><a class="nav-link" href="/jerk">Jerk Chicken </a></li>
                <li class="nav-item"><a class="nav-link" href="/pumpkin">Pumpkin Rice Noodles</a></li>
                <li class="nav-item"><a class="nav-link" href="/bara">Bara </a></li>
                <li class="nav-item"><a class="nav-link" href="/croque">Croque Madame </a></li>
                <li class="nav-item"><a class="nav-link" href="/crab">Crab Cake </a></li>
            </ul>

        </div>
    </nav>
</div>


<h1>Injera</h1>

    <div class="container-fluid">
        <div class="mycont">
<div class="row" >
    <div class="col-1">Ethiopia</div>
    <div class="col-1"><div class="images"><img src="./images/eth.jpg" alt="flag" /></div></div>

</div>
<h2>Ingredients </h2>
<ul>
    <li> ¾ cup teff flour (found in health food shops)</li>
    <li>3½ cups water</li>
    <li> pinch of salt</li>
</ul>
<h2>Directions</h2>
<p>Standing time 2 days</p>
<p><i>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.

    The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.

    Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.

    Do not let it brown, and make sure that it is not too thick.</i></p>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        </div></div>
</body>
</html>