img{
    height:300px;
    width: 400px;
}
body {

    background-image:url("../images/background.jpg");
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.gal{
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 20px;
}
.gal p{
    margin-right: 175px;
}